.row.mt-5
  .col-sm-1
  .col-sm-6
    %h2= @book.title
    %h6= @book.genre.titleize
    - if @book.included_synopses
      %synopses
    - else
      %p= t('book.no_synopses')
    
    - if @book.is_manuscript?
      = render partial: 'manuscript', locals: {book: @book}
  .col-sm-4
    .cover_div.border.border-secondary.rounded
      = image_tag(@book.cover, class: 'img-fluid')
  .col-sm-1
