= form_for @title do |f|
  - if @title.errors.any?
    #error_explanation
      %h2= "#{pluralize(@title.errors.count, "error")} prohibited this title from being saved:"
      %ul
        - @title.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
