= form_for [@book, @synopsis] do |f|
  .row.mt-5
    .col-sm-12
      .row
        .col-auto.mr-auto
          %h2= t('synopsis.write_your_synopsis')
        .col-auto
          = f.submit t('controls.save'), class: 'btn btn-secondary'
          = f.submit t('controls.publish'), name: 'publish', class: 'btn btn-success'
  .row
    .col-auto.mr-auto
      %h4= @book.genre.titleize
      %h4
        = f.label :title, t('synopsis.working_title')
        = f.text_field :title, required: true, class: 'form-control inline-input'
  .row
    .col-lg-12
      .medium-editor-faker.medium-editor-toolbar.clearfix
        %ul
          - (1..17).each do |i|
            %li
              %button i
      %medium-editor{":text": 'inputEcho', 'v-on:edit': 'setInputEcho', ':options': 'mediumOptions'}
      = f.hidden_field :body, 'v-model': 'inputEcho', class: 'input-echo', 'data-value': @synopsis.body
