!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}
    %title Anopenbook
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'bootstrap'

    = javascript_pack_tag 'vue'
    = stylesheet_pack_tag 'vue'
  %body
    #app{"on-page": "#{controller_name}/#{action_name}"}
      %sendnotification{flashes: flash.to_json}
      = render partial: 'header'
      .container-fluid
        = yield
      %notifications{position: "bottom right", classes: 'styled-notification', width: '500px'}
